html{
    scroll-behavior: smooth;
}

.skip a{
left: 0;
padding: 7px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top: -50px; 
}

a.skip {
    left:-999px;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    position: absolute;
    top: -50px;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip:focus, a.skip:active {
    color: #BA3B3F;
    background-color:#F3E7EA;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid #BA3B3F;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
/* Figure out why this isnt working */


/* need to make butterfly logo scale; try to move it to the left;  */
/* need nav links to not wrap but to scale instead (I think I had this working before) */
/* need to edit to relative sizes for everything */
/* need to edit html to make sense */

li {
    float: right;
}
   /* makes horizontal along the top; does it also change the order presented/alignment? */
/* confused about */

nav{
    position: fixed;
    z-index: 1; 
    /* Stay on top */
    top: 0; 
    /* Stay at the top */ 
    right: 0;
    padding: 10px;
    }
/* Function is currently to position the H1 down further? along with sticking the nav to the top*/
/* has px in it */
/* confused about */

.parallax{
    background-image: url("../imgs/dolly_background.jpg");
    width: 100%;
    min-height: 95vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    display: flex;
    font-family: sweet-fancy-script, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:10vw;
    color: #F3E7EA;
    justify-content: center;
    padding-top: 50vh;
    padding-bottom: 25vh; 
}

li a{
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.65vw;
    display: block;
    padding: 4vw;
    color:  #F3E7EA;
}
/* Brings nav links down a little bit */
/* need to edit size of logo image */
/* confused about */

.logo {
    width: 4.5vw;
    height: 4.5vw;
}

a:visited {
    color:#F3E7EA;
  }

  a:hover {
    color:#4A1717;
    font-style: italic;
  }

  a:focus {
    color:#4A1717;
    font-style: italic;
  }

  a:active {
    border-style: solid;
    border-width: thin;
    border-color: #4A1717;
    border-radius: 1vw;
  }

.current {
    border-style: solid;
    border-width: thin;
    color:#F3E7EA;
    font-style: italic;
    border-radius: 1vw;
}

h2{
    display: flex;
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}
/* has px in it */


p{
    display: flex; 
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
    text-align: left;
}
/* has px in it */

/* Figure out why paragraphs don't go any farther to the right when left aligned */

h3{
    display: flex; 
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}
/* has px in it */

.footer {
    display: flex;
    justify-content: center;
    color: #BA3B3F;
    background-color: #F3E7EA;
    font-size: 1.5vw;
    padding: 0px
}
/* has px in it */
/* look into padding */

.designed{
    display: flex;
    justify-content: center;
    color: #BA3B3F;
    background-color: #F3E7EA;
    font-size: 1.5vw;
    padding: 0px;
}
/* has px in it */
/* look into padding */

.contactText{
    color: #F3E7EA;
    background-color: #BA3B3F;
}

/* .navigation{ */
    /* display: block; */
    /* justify-content: left; */
    /* text-align: right; */
/* } */


/* .navmenu{  */
    /* width: 100vw; */
/* } */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
  }


/* ol { */
	/* list-style: none; */
/* } */


/* a{ */
    /* display: flex; */
    /* justify-content: flex-end; */
/* } */


/* .logo img{ */
    /* float: left; */
/* } */