html{
    scroll-behavior: smooth;
}

.skip a{
color: #BA3B3F;
background-color:#F3E7EA;
border:4px solid #BA3B3F;
text-align:center;
font-size:1.2em;
left: 0;
padding: 7px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top: -50px; 
}

.skip a:focus{
  top: 10px;
  outline-color: #4A1717;
}

:focus {
    top: 10px;
    outline-color:#4A1717;
}


/* need to make butterfly logo scale; try to move it to the left;  */
/* need nav links to not wrap but to scale instead (I think I had this working before) */
/* need to edit to relative sizes for everything */
/* need to edit html to make sense */

   /* makes horizontal along the top; does it also change the order presented/alignment? */
/* confused about */

nav{
    position: sticky;
    z-index: 1; 
    /* Stay on top */
    top: 0; 
    /* Stay at the top */ 
    right: 0;
    padding: 5vw;
    }

.navMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }

    /* li { */
        /* float: right; */
    /* } */

/* Function is currently to position the H1 down further? along with sticking the nav to the top*/
/* has px in it */
/* confused about */

/* NEED TO FIX NAV BAR */

.parallax{
    background-image: url("../imgs/dolly_background.jpg");
    width: 100%;
    min-height: 95vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    display: flex;
    font-family: sweet-fancy-script, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:10vw;
    color: #F3E7EA;
    justify-content: center;
    padding-top: 12vh;
    padding-bottom: 25vh; 
}

li a{
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.65vw;
    display: block;
    padding: 3vw;
    color:  #F3E7EA;
}
/* Brings nav links down a little bit */
/* need to edit size of logo image */
/* confused about */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 4.5vw;
    height: 4.5vw;
}

a:visited {
    color:#F3E7EA;
  }

  a:hover {
    color:#4A1717;
    font-style: italic;
  }

  a:focus {
    color:#4A1717;
    font-style: italic;
  }

  a:active {
    border-style: solid;
    border-width: thin;
    border-color: #4A1717;
    border-radius: 1vw;
  }

.current {
    border-style: solid;
    border-width: thin;
    color:#F3E7EA;
    font-style: italic;
    border-radius: 1vw;
}

h2{
    display: flex;
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}
/* has px in it */


p{
    display: flex; 
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
    text-align: left;
}
/* has px in it */

/* Figure out why paragraphs don't go any farther to the right when left aligned */

h3{
    display: flex; 
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}
/* has px in it */

.footer {
    display: flex;
    justify-content: center;
    color: #BA3B3F;
    background-color: #F3E7EA;
    font-size: 1.5vw;
    padding: 0px
}
/* has px in it */
/* look into padding */

.designed{
    display: flex;
    justify-content: center;
    color: #BA3B3F;
    background-color: #F3E7EA;
    font-size: 1.5vw;
    padding: 0px;
}
/* has px in it */
/* look into padding */

.contactText{
    color: #F3E7EA;
    background-color: #BA3B3F;
}

.gridArt{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #BA3B3F;
    padding-bottom: 5vh;
    gap: 5vh;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content max-content max-content;
}

.dollyDrawingButterflies, .dollyDrawingLines, .dollyDrawingRecord, .dollyCollage{
    max-width: 70vw;
    max-height: 70vh;
}

.dollyDrawingButterflies{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
}

.dollyDrawingLines{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    }

.dollyDrawingRecord{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    }

.dollyCollage{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    }


figcaption{
    color: #F3E7EA;
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
}

.firstDollyism, .secondDollyism, .thirdDollyism, .fourthDollyism, .fifthDollyism, .sixthDollyism, .seventhDollyism, .eighthDollyism, .ninthDollyism, .tenthDollyism, .eleventhDollyism, .twelthDollyism, .thirteenthDollyism, .fourteenthDollyism {
    color: #BA3B3F;
    padding-top: 5vh; 
    font-style:italic;
    background-color: #F3E7EA;
}

.coatName, .blondeName, .crossName, .loveName, .hereName, .joleneName, .lightName, .nineName, .homeName, .butterflyName {
    display: flex; 
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    font-family: buckboard-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.65vw;
}

/* .songlist {
    display:grid;
    justify-content: center;
    align-content: center;
    background-color: #BA3B3F;
    padding-bottom: 5vh;
    gap: 5vh;
    grid-template-columns: 40vw 40vw; 
    grid-template-rows: 40vh 40vh 40vh 40vh 40vh 40vh 40vh 40vh 40vh 40vh;
}

.coatOfManyColors{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 1;
}
.coatName{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.dumbBlonde{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: span 1;
} */

.coatImage, .dumbImage, .crossImage, .loveImage, .hereImage, .joleneImage, .lightImage, .butterflyImage, .tennesseeImage, .nineImage{
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f40381;
}

.coatImage:hover, .dumbImage:hover, .crossImage:hover, .loveImage:hover, .hereImage:hover, .joleneImage:hover, .lightImage:hover, .butterflyImage:hover, .tennesseeImage:hover, .nineImage:hover{
    filter: /* invert(67%) sepia(9%) saturate(1850%) hue-rotate(293deg) brightness(98%) contrast(93%) */opacity(60%) grayscale(100%)contrast(200%);
}

.firstLife, .secondLife, .thirdLife, .fourthLife, .fifthLife, .sixthLife, .seventhLife, .eighthLife, .ninthLife{
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #BA3B3F;
}

.songlist{
    background-color:#BA3B3F;
}

.coatOne{
    display: flex; 
    font-family: liberation-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1vw;
    color: #F3E7EA;
    background-color: #BA3B3F;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: -5vh;
    line-height: 300%;
}

/* <p class ="coatName">Coat of Many Colors, 1668</p>
<div class="coatOfManyColors">
    <a href="coat-of-many-colors.html"><img class = "coat" alt="Coat of Many Colors" src="imgs/coat.jpg"></a>
</div> 
<p class ="blondeName">Dumb Blonde, 1967</p>
<div class="dumbblonde1967">
    <a href="dumb-blonde.html"><img class = "dumb" alt="Dumb Blonde" src="imgs/dumbblonddolly.jpg"></a>
</div> 
<p class ="crossName">Do I Ever Cross Your Mind, 1976</p>
<div class="doIEverCross">
    <a href="do-i-ever-cross-your-mind.html"><img class = "cross" alt="Do I Ever Cross Your Mind" src="imgs/dollyyoung.jpg"></a>
</div> 
<p class ="hereName">Here You Come Again, 1977</p>
<div class="hereYouComeAgain">
    <a href="here-you-come-again.html"><img class = "here" alt="Here You Come Again" src="imgs/hereyoucomeagain.jpg"></a>
</div> 
<p class ="loveName">I Will Always Love You, 1974</p>
<div class="iWillAlwaysLoveYou">
    <a href="i-will-always-love-you.html"><img class = "love" alt="I Will Always Love You" src="imgs/loveyou.jpg"></a>
</div> 
<p class ="joleneName">Jolene, 1974</p>
<div class="jolene">
    <a href="jolene.html"><img class = "joleneSong" alt="Jolene" src="imgs/jolene.jpg"></a>
</div> 
<p class ="lightName">Light of a Clear Blue Morning, 1977</p>
<div class="lightOfAClear">
    <a href="light-of-a-clear-blue-morning.html"><img class = "lightSong" alt="Light of a Clear Blue Morning" src="imgs/lightofclear.jpg"></a>
</div> 
<p class ="lightName">Love is Like a Butterfly, 1974</p>
<div class="loveIsLike">
    <a href="love-is-like-a-butterfly.html"><img class = "butterflySong" alt="Love is Like a Butterfly" src="imgs/loveislike.jpg"></a>
</div> 
<p class ="lightName">My Tennessee Mountain Home, 1973</p>
<div class="tennesseeMountainHome">
    <a href="my-tennessee-mountain-home.html"><img class = "tennesseeSong" alt="My Tennessee Mountain Home" src="imgs/tennesseemountain.jpg"></a>
</div> 
<p class ="9name">9 to 5, 1980</p>
<div class="9to5">
    <a href="9to5.html"><img class = "9To5Song" alt="9 to 5" src="imgs/9to5.jpg"></a>
</div> .9name */

/* .navmenu{  */
    /* width: 100vw; */
/* } */



/* ol { */
	/* list-style: none; */
/* } */


/* a{ */
    /* display: flex; */
    /* justify-content: flex-end; */
/* } */


/* .logo img{ */
    /* float: left; */
/* } */